In [2]:
import pandas as pd
import sqlite3

In [3]:
con=sqlite3.connect("imdb_movies.db")

In [4]:
cleaned_data=pd.read_csv("Cleaned_imdb_movies.csv")
cleaned_data.to_sql("movies",con, if_exists='replace', index=False)

1000

In [5]:
new_data=pd.read_sql("""select * from sqlite_master""",con)
new_data

,type,name,tbl_name,rootpage,sql
0,table,movies,movies,2,"CREATE TABLE ""movies"" (\n""Unnamed: 0"" INTEGER,..."

In [6]:
new_data=pd.read_sql("""select * from movies""",con)
new_data

,Unnamed: 0,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Gross
0,0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,"28,341,469"
1,1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,"134,966,411"
2,2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,"534,858,444"
3,3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,"57,300,000"
4,4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,"68,034,750"
996,996,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,"68,034,750"
997,997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,"30,500,000"
998,998,Lifeboat,1944,Passed,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,"68,034,750"
999,999,The 39 Steps,1935,Passed,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,"68,034,750"

In [7]:
#movies whose IMDB_Ratings are >= 8.5
new_data=pd.read_sql("""select Series_Title from movies where IMDB_Rating>=8.5""",con)
new_data

                                         Series_Title
0                            The Shawshank Redemption
1                                       The Godfather
2                                     The Dark Knight
3                              The Godfather: Part II
4                                        12 Angry Men
5       The Lord of the Rings: The Return of the King
6                                        Pulp Fiction
7                                    Schindler's List
8                                           Inception
9                                          Fight Club
10  The Lord of the Rings: The Fellowship of the Ring
11                                       Forrest Gump
12                    Il buono, il brutto, il cattivo
13              The Lord of the Rings: The Two Towers
14                                         The Matrix
15                                         Goodfellas
16     Star Wars: Episode V - The Empire Strikes Back
17                    One Flew Over the Cuckoo's Nest
18                                           Hamilton
19                                       Gisaengchung
20                                    Soorarai Pottru
21                                       Interstellar
22                                     Cidade de Deus
23                      Sen to Chihiro no kamikakushi
24                                Saving Private Ryan
25                                     The Green Mile
26                                    La vita è bella
27                                              Se7en
28                           The Silence of the Lambs
29                                          Star Wars
30                                            Seppuku
31                               Shichinin no samurai
32                              It's a Wonderful Life
33                                              Joker
34                                           Whiplash
35                                   The Intouchables
36                                       The Prestige
37                                       The Departed
38                                        The Pianist
39                                          Gladiator
40                                 American History X
41                                 The Usual Suspects
42                                               Léon
43                                      The Lion King
44                         Terminator 2: Judgment Day
45                              Nuovo Cinema Paradiso
46                                     Hotaru no haka
47                                 Back to the Future
48                       Once Upon a Time in the West
49                                             Psycho
50                                         Casablanca
51                                       Modern Times
52                                        City Lights

In [8]:
#movies and their release year based on genre, Drama
new_data=pd.read_sql("""select Series_Title, Released_Year from movies where Genre="Drama" """,con)
new_data

                       Series_Title Released_Year
0          The Shawshank Redemption          1994
1                        Fight Club          1999
2   One Flew Over the Cuckoo's Nest          1975
3                   Soorarai Pottru          2020
4                American History X          1998
..                              ...           ...
80             Synecdoche, New York          2008
81                  Mysterious Skin          2004
82                        25th Hour          2002
83                Y tu mamá también          2001
84                   On Golden Pond          1981

[85 rows x 2 columns]

In [9]:
#avg runtime per certification
new_data=pd.read_sql("""select Certificate, round(avg(Runtime),1) as Avg_Runtime from movies
                     group by 1
                     order by 2 """,con)
new_data

   Certificate  Avg_Runtime
0        TV-PG         93.7
1          U/A        102.0
2        TV-MA        106.0
3       Passed        109.9
4     Approved        111.1
5           PG        114.3
6        PG-13        117.0
7            G        119.7
8            R        122.4
9            U        124.2
10          GP        124.5
11           A        128.9
12          UA        129.3
13          16        130.0
14       TV-14        132.0
15     Unrated        183.0

In [10]:
#movies and directors based on some conditions
new_data=pd.read_sql("""select Series_Title, Director from movies
                     where Released_Year>2000 and Certificate="U"
                      """,con)
new_data

                                         Series_Title            Director
0       The Lord of the Rings: The Return of the King       Peter Jackson
1   The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
2                                     Soorarai Pottru       Sudha Kongara
3                       Sen to Chihiro no kamikakushi      Hayao Miyazaki
4                                        The Prestige   Christopher Nolan
..                                                ...                 ...
80                    Un long dimanche de fiançailles  Jean-Pierre Jeunet
81                                  Finding Neverland        Marc Forster
82                               The Butterfly Effect          Eric Bress
83              Harry Potter and the Sorcerer's Stone      Chris Columbus
84                                          Apollo 13          Ron Howard

[85 rows x 2 columns]

In [11]:
#average imdb and meta score ratings for each director
new_data=pd.read_sql("""select Director, round(avg(IMDB_Rating),1) as Avg_Imdb_Rating from movies
                     group by 1
                     order by 2
                      """,con)
new_data

            Director  Avg_Imdb_Rating
0        Alex Proyas              7.6
1    Aneesh Chaganty              7.6
2     Bennett Miller              7.6
3      Blake Edwards              7.6
4     Bradley Cooper              7.6
..               ...              ...
543    Sudha Kongara              8.6
544      Thomas Kail              8.6
545   Irvin Kershner              8.7
546   Lana Wachowski              8.7
547   Frank Darabont              9.0

[548 rows x 2 columns]

In [ ]:
new_data=pd.read_sql("""select Director, Gross from movies where Genre="Crime, Drama"
                     group by 1
                      """,con)
new_data

                Director        Gross
0     Andrey Zvyagintsev    1,092,800
1         Brian De Palma   45,598,982
2     Fernando Meirelles    7,563,397
3   Francis Ford Coppola  134,966,411
4      François Truffaut   68,034,750
5       Hirokazu Koreeda    3,313,513
6        Jacques Audiard    2,084,637
7        Jean-Luc Godard      336,705
8         John Singleton   57,504,069
9         Lars von Trier    1,530,386
10          Lee Tamahori    2,201,126
11       Lukas Moodysson      181,655
12       Martin Scorsese   28,262,574
13     Mathieu Kassovitz      309,811
14  Nicolas Winding Refn   35,061,555
15     Nuri Bilge Ceylan      138,730
16     Quentin Tarantino  107,928,762
17       Robert Mulligan   68,034,750
18          Sergio Leone    5,321,508
19         Shane Meadows      327,919
20          Sidney Lumet    4,360,000
21      Stuart Rosenberg   16,217,773
22       Taylor Hackford    4,496,583